<div class="container">
    <h1>This products</h1>


    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Detail</th>
        </tr>
        </thead>
        <tbody>
        @for (product of producList; track $index) {
        <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td><button type="button" class="btn btn-outline-primary" (click)="navegate(product.id)">Details</button></td>
        </tr>
        }

        
        </tbody>
    </table>
</div>
